*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container{
    margin: auto;
    width: calc(100% - 100px);
}
